<!DOCTYPE html>
<html lang="en">
<!--     {% load static %} -->
<head>
    <meta charset="utf-8">
    <meta name="description" content="This is to do list implemented using Django by Dennis Ivy who is a full stack web developer.">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do Items</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'Imgs/Logo.png' %}">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com">
    </script>
    
    
</head>

<body>
<div class="p-5 mg:text-2xl sm:text-xl lg:text-3xl dark:bg-gray-800 rounded-xl shadow md:flex text-center justify-center dark:text-white font-extrabold">TO-DO</div>
    <div class="container font-sans min-h-screen">
        {% block content %} {% endblock content %}
    </div>
    {% load static %}
        <footer id="Contact" class="p-4  mt-auto items-center rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-900">
            <span class="flex flex-wrap items-center justify-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">Made with 🫰 by Swamynath
            </span>

                <span class="flex flex-wrap items-center justify-center ml-3 mt-3 space-x-3 sm:space-x-2 md:space-x-2 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
                <a href="https://www.hackerrank.com/swamynath633"><img src="{% static 'Imgs/icons8-hackerrank-32.png'%}" ></a>
                <a href="https://github.com/Ssn633"><img src="{% static 'Imgs/icons8-github-32.png'%}" class="text-base"></a>
                <a href="https://www.linkedin.com/in/swamynath-s-5139b2191/"><img src="{% static 'Imgs/icons8-linkedin-2-32.png'%}" class="text-base"></a>
                <a href="swamynath633@gmail.com"><img src="{% static 'Imgs/icons8-gmail-logo-32.png'%}" class="text-base"></a>
                <a href="https://t.me/S_n_633"><img src="{% static 'Imgs/icons8-telegram-app-32.png'%}" class="text-base"></a>
            </span> 
        </footer>
</body>


</html>
